.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 15px;
  }

  .pagination li {
    display: inline;
    text-align: center;
  }

  .pagination a {
    float: left;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding: 6px 12px;
    color: #000;
    margin-left: -1px;
    border: #858585 0.5px solid;
    line-height: 1.5;
  }

  .pagination a.active {
    cursor: default;
  }

  .pagination a:active {
    outline: none;
  }

  .modal-1 li:first-child a {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
  }

  .modal-1 li:last-child a {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
  }

  .modal-3 a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  .modal-3 a:hover {
    background-color: #000000;
    color: #fff;
  }

  .modal-3 a.active,
  .modal-3 a:active {
    background-color: #000000;
    color: #fff;
  }

  .linkBuscador {
    color: #404040;
  }

  .linkBuscador:hover {
    color: #6c7ae0;
  }